@model IEnumerable<DocumentsExchange.DataLayer.Entity.FileCategory>

@{
    Layout = null;
}

<div id="allFileCategoriesTable" class="container-fluid">
    @Html.Action("Caregories")
</div>

<div id="categoryContainer">
    @Html.Action("Create")
</div>

<script>
    $(function () {
        $('#allFileCategoriesTable').on('click', '[data-url]', function (e) {
            $("#categoryContainer").load($(this).data('url'));
        });
    });
</script>