@using DocumentsExchange.WebUI.ViewModels
@model DocumentsExchange.WebUI.ViewModels.FileCategoriesViewModel

<div style="float: left; width: 25%; height: 100%; position: relative; border-right: 1px solid black">
    @foreach (var category in @Model.FileCategories.Where(o => o.IsActive))
    {
        <div>
            @Ajax.ActionLink(@category.Name, "Get", "FileCategories",
                new {id = category.Id, orgId = Model.OrganizationId},
                new AjaxOptions {UpdateTargetId = "FilesTableView"})
        </div>
    }
</div>
<div id="FilesTableView" style="float: left; width: 75%; height: 100%; position: relative;">

</div>


