@using DocumentsExchange.DataLayer.Entity
@model DocumentsExchange.WebUI.ViewModels.TableNamesViewModel

<div style="padding: 25px; padding-bottom: 0px" class="col-md-3">
    @Html.DropDownList("TableNameDropDown", Model.TableList, new { @class = "form-control"})
</div>


<div id="AddRecordForm" class="col-md-12" style="height: 100%; position: relative">
</div>


<script>
    $(function () {
        var contentLoader = new Helpers.ContentLoader({
            content: $('#AddRecordForm')
        });

        $('#TableNameDropDown').change(function () {
            /* Get the selected value of dropdownlist */
            var selectedId = $(this).val();

            if (selectedId === "Table1") {
                /* Request the partial view with .get request. */
                var createRecordT1Act = '@Url.Action("Create", "RecordT1",new { orgId = Model.OrganizationId})';
                contentLoader.load({
                    url: createRecordT1Act
                });
            } else {
                /* Request the partial view with .get request. */
                var createRecordT2Act = '@Url.Action("Create", "RecordT2", new { orgId = Model.OrganizationId })';
                contentLoader.load({
                    url: createRecordT2Act
                });
            }
        }).change();
    });
</script>