@using DocumentsExchange.DataLayer.Entity
@model DocumentsExchange.WebUI.ViewModels.TableNamesViewModel


@Html.DropDownList("TableNameDropDown", Model.TableList)

<div id="AddRecordForm">
</div>


<script>
    $(function () {
        $('#TableNameDropDown').change(function () {
            /* Get the selected value of dropdownlist */
            var selectedId = $(this).val();

            if (selectedId === "Table1") {
                /* Request the partial view with .get request. */
                var createRecordT1Act = '@Url.Action("Create", "RecordT1",new { orgId = Model.OrganizationId})';
                $.get(createRecordT1Act, function (data) {

                    /* data is the pure html returned from action method, load it to your page */
                    $('#AddRecordForm').html(data);
                    /* little fade in effect */
                    $('#AddRecordForm').fadeIn('fast');
                });
            } else {
                /* Request the partial view with .get request. */
                var createRecordT2Act = '@Url.Action("Create", "RecordT2", new { orgId = Model.OrganizationId })';
                $.get(createRecordT2Act, function (data) {

                    /* data is the pure html returned from action method, load it to your page */
                    $('#AddRecordForm').html(data);
                    /* little fade in effect */
                    $('#AddRecordForm').fadeIn('fast');
                });
            }
        }).change();
    });
</script>