<div style="height: 100%; min-height: 1px; position: relative">
    <div id="AdminPanelTabs" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">

            <li class="active">
                <a href="javascript:void(0)" role="tab" data-url="@Url.Action("Index", "Dictionaries")">Справочники</a>
            </li>

            <li>
                <a href="javascript:void(0)" role="tab" data-url="@Url.Action("Index", "SiteControl")">Управление сайтом</a>
            </li>

        </ul>
    </div>
    <div id="adminTabContent" role="tabpanel" class="tab-pane active" style="height: 100%; position: relative; min-height: 1px;">
        @Html.Action("Index", "Dictionaries")
    </div>
</div>

<script>
    $(function() {
        $('#AdminPanelTabs').on('click', '> ul[role=tablist] > li > a[data-url]', function (e) {
            $('#adminTabContent').load($(this).data('url'));
        });
    });
</script>
