@using DocumentsExchange.WebUI.Extensions
@using Microsoft.AspNet.Identity

<div class="panel panel-default">
    <div class="panel-heading">Сообщения чата</div>

    <div id="messageContainer" style="padding: 10px; max-height: 500px; min-height: 300px; overflow-y: scroll">
        <button class="btn btn-default" style="font-size: 10px; margin: 5px auto; display: block;" id="loadMore">Еще</button>
    </div>
    @if (!User.IsInRole(DocumentsExchange.BusinessLayer.Identity.Roles.Observer))
    {
        <div class="col-md-12" style="background-color: #ddd;">
            <div class="col-md-12" style="padding: 5px">
                <textarea id="message" class="form-control" placeholder="Введите текст"></textarea>
                <button class="btn btn-primary pull-right" style="font-size: 10px; margin-top: 5px" id="sendBtn">Send</button>
            </div>
        </div>
    }
</div>

<script id="messageTemplate" type="text/x-jsrender">
    <div style="margin: 5px">
        {{:time}} {{:userName}} написал: {{:html}}
    </div>
</script>

<script>
    $(function () {
        var chat = new Chat.instance({
            data: {
                userId: '@(HttpContext.Current.User.Identity.GetUserId<int>())',
                userName: '@(HttpContext.Current.User.Identity.GetFullName())'
            },

            templates: {
                messageTemplate: '#messageTemplate'
            },

            controls: {
                messageContainer: '#messageContainer',
                sendBtn: '#sendBtn',
                messagePlaceholder: '#message',
                loadMoreBtn: '#loadMore'
            },

            urls: {
                getMessagesUrl: "@Url.Action("GetMessages", "Messages", new { orgId = ViewBag.OrgId })"
            }
        });

        chat.start();
    });
</script>