@model DocumentsExchange.DataLayer.Entity.Organization
    
<div class="container">
    <h3>Добавить организацию:</h3>

    @using (Html.BeginForm("Create", "Organization", null, FormMethod.Post, new { id = "AddOrgForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            
            @Html.ValidationSummary(true)
            @Html.Partial("_Organization")

        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" id="addOrgBtn">Сохранить</button>
            </div>
        </div>


        @*<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button  class="btn btn-default" id="deleteOrgBtn">Удалить</button>
                </div>
            </div>*@

    }
</div>
