@model DocumentsExchange.DataLayer.Entity.Organization

<div class="container">
    <h3>Добавить организацию:</h3>

    @using (Html.BeginForm("Edit", "Organization", null, FormMethod.Post, new { id = "EditOrgForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            @Html.Partial("_Organization")

        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" id="editOrgBtn">Сохранить</button>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                @Html.ActionLink("Удалить", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
            </div>
        </div>

    }
</div>
