@model IEnumerable<DocumentsExchange.DataLayer.Entity.Organization>

@{
    Layout = null;
}

<div class="container-fluid" id="allOrgsTable">
    @Html.Action("Organizations")
</div>

<div id="orgContainer">
    @Html.Action("Create")
</div>

<script>
    $(function() {
        $('#allOrgsTable').on('click', '[data-url]', function(e) {
            $("#orgContainer").load($(this).data('url'));
        });
    });
</script>