@model DocumentsExchange.DataLayer.Entity.File


<div class="form-group">
    <label class="col-sm-2 control-label">Название:</label>
    <div class="col-sm-7">
        @Html.TextBoxFor(p => p.FileName, new {@class = "form-control", tabindex = 1, @readonly = "readonly"})
        @Html.ValidationMessageFor(model => model.FileName, null, new {@class = "text-danger", @data_val_field = "true"})
    </div>
    <div class="col-sm-2" style="padding: 5px">
        <input type="file" name="upload" id="uploadFileBtn" style="width: 125px;" />
    </div>
</div>

@Html.HiddenFor(model => model.OranizationId)
@Html.HiddenFor(model => model.CategoryId)
