@model DocumentsExchange.DataLayer.Entity.File


<div class="form-group">
    <label class="col-sm-2 control-label">Название:</label>
    <div class="col-sm-10">
        @Html.TextBoxFor(p => p.FileName, new { @class = "form-control", tabindex = 1 })
        @Html.ValidationMessageFor(model => model.FileName, null, new { @class = "text-danger", @data_val_field = "true" })
    </div>
</div>



@Html.HiddenFor(model => model.OranizationId)
@Html.HiddenFor(model => model.CategoryId)

<div class="form-group">
    <div class="col-sm-10">
        <input type="file" name="upload" id="uploadFileBtn" />
    </div>
</div>