@using DocumentsExchange.WebUI.ViewModels
@using Roles = DocumentsExchange.BusinessLayer.Identity.Roles
@model DocumentsExchange.WebUI.ViewModels.FileViewModel

<div class="page-header text-center">
    <h3>@Model.FileCategory.Name</h3>
</div>

<div class="container-fluid" id="FilesTable">
    @Html.Action("FilesTable", new {orgId = Model.OrganizationId, categoryId = Model.FileCategory.Id})
</div>

@{
    if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Technician))
    {
       @Html.Action("Create", new { orgId = Model.OrganizationId, categoryId = Model.FileCategory.Id })
    }
}


