@using DocumentsExchange.WebUI.ViewModels
@model DocumentsExchange.WebUI.ViewModels.UserViewModel

@{
    Layout = null;
}

<div class="container-fluid" id="allUsersTable">
    @Html.Action("Users")
</div>

<div id="userContainer">
    @Html.Action("Create")
</div>

<script>
    $(function() {
        $('#allUsersTable').on('click', '[data-url]', function(e) {
            $("#userContainer").load($(this).data('url'));
        });
    })
</script>